<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <header>
    <h1>Mapa de ubicaciones</h1>
  </header>
  
  <div id="map"></div>
  <div class="labels">
    <div class="label">
      <h2>Rangos de contaminación</h2>
      <ul>
        <li style="color: green;">Menor a 11: marcador verde</li>
        <li style="color: yellow;">Entre 11 y 25: marcador amarillo</li>
        <li style="color: orange;">Entre 26 y 50: marcador naranja</li>
        <li style="color: red;">Más de 50: marcador rojo</li>
      </ul>
    </div>
    <div class="label">
      <h2>Puntos menos contaminados</h2>
      <ul>
        {% for ubicacion in tres_menos_contaminadas %}
          {% if ubicacion.contaminacion <= 10 %}
            <li style="color: green;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% elif ubicacion.contaminacion > 10 and ubicacion.contaminacion <= 25 %}
            <li style="color: yellow;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% elif ubicacion.contaminacion > 25 and ubicacion.contaminacion <= 50 %}
            <li style="color: orange;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% else %}
            <li style="color: red;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    
    
    
    <div class="label">
      <h2>Puntos más contaminados</h2>
      <ul>
        {% for ubicacion in tres_mas_contaminadas %}
          {% if ubicacion.contaminacion <= 10 %}
          <li style="color: green;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% elif ubicacion.contaminacion > 10 and ubicacion.contaminacion <= 25 %}
          <li style="color: yellow;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% elif ubicacion.contaminacion > 25 and ubicacion.contaminacion <= 50 %}
          <li style="color: orange;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% else %}
          <li style="color: red;">{{ ubicacion.nombre }} - {{ ubicacion.contaminacion }}</li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
  
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk-jcafbBJsvLF2MnZS9m0wOgQCDi4mCs"></script>
  <script src="{% static 'js/maps.js' %}"></script>
  <script type="text/javascript">
    crearMapa({{ ubicaciones|safe }});
  </script>
</body>
</html>