<!DOCTYPE html>
{% load static %}
<html lang ="es">
<head>
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div id="map" style="width: 500px; height: 400px;"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk-jcafbBJsvLF2MnZS9m0wOgQCDi4mCs"></script>
  <script src = "{%static 'js/maps.js' %}"></script>
  <script type="text/javascript">
  crearMapa({{ubicaciones|safe}})
</script>
</body>
</html>
